<a href="https://colab.research.google.com/github/2303A51462/Data-Mining/blob/main/DataVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#Example data
data = {'Category' :['A','B','C','A','B'] }
df = pd.DataFrame(data)
print(df)
type(data)

  Category
0        A
1        B
2        C
3        A
4        B

dict

In [ ]:
#Label Encoding
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        A              0
4        B              1

In [ ]:
#One-Hot Encoding
one_hot_encoder = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoder], axis=1)
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [ ]:
from datetime import datetime
#example data
data = {'Name':['Sindhu','Pragna','sanjana','pravalika'],'Date_of_Birth':['2005-07-02','2006-03-31','2005-04-11','2005-02-10']}
df = pd.DataFrame(data)
print(df)

        Name Date_of_Birth
0     Sindhu    2005-07-02
1     Pragna    2006-03-31
2    sanjana    2005-04-11
3  pravalika    2005-02-10

In [ ]:
#convert Date of birth to datetime
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
print(df)

        Name Date_of_Birth
0     Sindhu    2005-07-02
1     Pragna    2006-03-31
2    sanjana    2005-04-11
3  pravalika    2005-02-10

In [ ]:
#calculate Age
current_date = datetime.now().year
df['Age'] = current_date - df['Date_of_Birth'].dt.year
print(df)

        Name Date_of_Birth  Age
0     Sindhu    2005-07-02   20
1     Pragna    2006-03-31   19
2    sanjana    2005-04-11   20
3  pravalika    2005-02-10   20

In [ ]:
#example data
data = {'Category':['A','A','B','B','C'],'Value':[10,20,10,30,40]}
df = pd.DataFrame(data)
print(df)

  Category  Value
0        A     10
1        A     20
2        B     10
3        B     30
4        C     40

In [ ]:
#group by and aggregate
grouped = df.groupby('Category').agg({'Value':['sum','mean']})
print("Grouped Data:\n",grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [24]:
#Pivot table
pivot = df.pivot_table(index='Category',values='Value',aggfunc=['sum','mean'])
print("Pivot Table:\n",pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0