<a href="https://colab.research.google.com/github/2303A51462/Data-Mining/blob/main/Lab_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [3]:
col_data = {'Color':['Red','Green','Blue','Yellow','Black','White']}
df_col = pd.DataFrame(col_data)

#Perform OneHot Encoding

In [4]:
one_hot_encoded = pd.get_dummies(df_col['Color'],prefix='Color')

In [5]:
one_hot_encoded = one_hot_encoded.astype(int)

In [6]:
print(one_hot_encoded)

   Color_Black  Color_Blue  Color_Green  Color_Red  Color_White  Color_Yellow
0            0           0            0          1            0             0
1            0           0            1          0            0             0
2            0           1            0          0            0             0
3            0           0            0          0            0             1
4            1           0            0          0            0             0
5            0           0            0          0            1             0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label_encoder = LabelEncoder()

In [10]:
df_col['Color_Label'] = label_encoder.fit_transform(df_col['Color'])

In [11]:
df_col['Color_Label']

0    3
1    2
2    1
3    5
4    0
5    4
Name: Color_Label, dtype: int64